table {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin: 50px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: rgb(190, 223, 251);
}

th {
    text-align: center;
    border-bottom: 10px solid black;
}

td {
    text-align: center;
    border-bottom: 1px solid gray;
}

.table-btn {
    margin:auto;
    display:block;
}

.add-btn {
    background: rgb(9, 152, 73);
    margin:auto;
    display: block;
}

.add-btn:hover {
    background: rgb(9, 101, 9);
}

.edit-btn {
    background: rgb(251, 184, 49);
    margin:auto;
    display: block;
}

.edit-btn:hover {
    background: rgb(238, 167, 15);
    color: black
}

.delete-btn {
    background: rgb(227, 44, 7);
    margin:auto;
    display: block;
}

.delete-btn:hover {
    background: rgb(200, 2, 2);
    color: black
}

.device-page {
    width: 500px;
    padding: 8% 0 0;
    margin: auto;
}
